{% extends "layout.html" %}

{% block content %}
<h2>Determine the probability of whether a film will breakeven</h2>
<form method=post>
    <dl>
        <p>
            <h3>Director</h3>
            Enter the Director's name<br/><br/>
            {{form.title}}
        </p>

        <p>
            <h3>Duration</h3>
            Enter the Duration of the film (in minutes)<br/><br/>
            {{form.duration}}
        </p>
        <p>
            <h3>Content Rating</h3>
            Enter the Content Rating of the film (G,PG,PG-13,R)<br/><br/>
            {{form.contentRating}}
        </p>
        <p>
            <h3>Gross Revenue</h3>
            Enter the Gross Revenue of the film (in millions)<br/><br/>
            {{form.gross}}
        </p>

        <p>
            <h3>Swear Count</h3>
            Enter number of times someone swears in the film<br/><br/>
            {{form.SwearCount}}
        </p>

        <p>
            <h3>Profanity</h3>
            Was there profanity in the film? (True or False)<br/><br/>
            {{form.profanity}}
        </p>

    </dl>
    <p><input type="submit" value="submit"></p>
 </form>
{% endblock %}